::ng-deep app-template {
    .p-megamenu {
        border-radius: 0;
        background-color: #883cae;
    }

    .p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-link {
        .p-menuitem-icon, .p-menuitem-text {
            color: #fff;
        }
    }

    .p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover {
        .p-menuitem-icon, .p-menuitem-text {
            color: darken(#fff, 15%);
        }
    }

}
