<form class="p-d-flex p-jc-center p-flex-column p-ai-center" [formGroup]="form">

    <div class="p-col-12 p-md-8 p-lg-6">

        <div class="p-text-center p-text-bold">Já possui um grupo criado? Digite o código abaixo</div>

        <div class="p-mt-3 p-inputgroup">
            <input pInputText
                   formControlName="grupo"
                   placeholder="Código">

            <button pButton
                    pRipple
                    label="Buscar"
                    icon="pi pi-search">
            </button>
        </div>

    </div>

    <p-divider class="p-mt-5" style="width: 100%;"></p-divider>

    <div class="p-mt-5 p-col-12 p-md-8 p-lg-6 p-ai-center p-d-flex p-flex-column">

        <div class="p-text-center p-text-bold">Crie um novo grupo!!!</div>

        <div class="p-mt-3">
            <button pButton
                    pRipple
                    label="Cadastrar"
                    icon="pi pi-plus">
            </button>
        </div>

    </div>

</form>
